<!-- <h2 class="h2">Employees Records</h2> -->
<div class="container">
    <div class="row"> 
      <div class="col-sm-6" *ngFor="let menu of menulist">
       <div class="card">
           <div class="card-header">
               <h2>{{menu.dishName}}</h2>
           </div>      
         <div class="card-body">      
          <div class="row align-items-center">      
            <div class="col-sm-4">      
               <img [src]="menu.dishImage" height="180px" width="170px"/>      
            </div>      
            <div class="col-sm-5">
                Dish ID:      
             <input type="text" class="form-control my-4" [value]="menu.dishId"/>  
             Dish Price(in Rs.) :    
             <input type="text" class="form-control my-4" [value]="menu.dishPrice"/>     
            </div>      
            <div class="col-sm-2">      
             <!-- <ul class="navbar" style="list-style-type:none;">      
               <li class="nav-item">
                <a routerLink="/employees/edit/{{emp.empID}}" class="btn btn-primary" >
                  <i class="fa fa-pencil"aria-hidden="true"></i>
                </a>
               </li>
             </ul>
             <ul class="navbar" style="list-style-type:none;">      
               <li class="nav-item">
                <a (click)="onDelete(emp.empID)" class="btn btn-danger" >
                  <i class="fa fa-trash"aria-hidden="true"></i>
                </a>
               </li>
             </ul> -->
             <ul class="navbar" style="list-style-type:none;">
               <li class="nav-item">
                <a routerLink="/employees/view/{{menu.dishId}}" class="btn btn-success" >
                  <i class="fa fa-eye"aria-hidden="true"></i>
                </a>
               </li>
             </ul>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
       </div>